@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}
hr {
  height: 30px;
  color: black;
  background-color: black;
}
.header__title {
  text-transform: uppercase;
  font-family: 'Spartan', sans-serif;
 
}
.main__title {
  text-transform: uppercase;
  font-size: 40px;
}
.footer__table {
  background-color: black;
  color: white;